<p id="notice"><%= notice %></p>

<%= render 'page_nav' %>


<% paginate @flag_products %>
<% @flag_products.each_slice(3) do | flag_products| %>
  
  <div class = "card-deck">
    <% flag_products.each do |product,flags| %>
      
     
     <div class = "card">
      <div class = "card-block">
        <h4 class="card-title push-xs-left"><%= product.title %></h4>
        <a href = "<%= product.full_url %>" target="_blank">
          <img class="card-image" src= "<%= product.img_path %>" />
        </a>
      </div>
      <div class= "card-block">
      <ul class="list-group list-group-flush">
      <% for flag in flags %>
        <li class="list-group-item"><%= flag.reason %></li>
      <% end %>
       </ul>
     </div>

    </div><!-- end card-->
    
    <% end %>

  </div><!-- end deck -->

<% end %>


<%= render 'page_nav' %>

